/* body */
body{margin: 0px;}

/* Barre de navigation */
nav.container{
    background: #dbdbdb;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

div.container{
    /* background: #884646; */
    margin-right: 20px;
    display: inline-flex;
    align-items: center;}
<<<<<<< HEAD

.drop_produit, .info, .dropform{
    text-decoration: none;
    color:#474747;}
.drop_produit:hover, .info:hover, .dropform:hover{
    color: white;
}

nav img{padding: 10px;}
/* Fin barre de navigation */


.item{padding: 20px;}
/* Fin Menu témoignage */

/* Image visuelle */
#visual{
    display: flex;
    justify-content:center;
   
}

.visual img{
    width: 100%;
   
}
=======

.drop_produit, .info, .dropform{
    text-decoration: none;
    color:#474747;}
.drop_produit:hover, .info:hover, .dropform:hover{
    color: white;
}

nav img{padding: 10px;}
/* Fin barre de navigation */


.item{padding: 20px;}
/* Fin Menu témoignage */

/* header */

/* footer 1 */

/* footer 2 */
>>>>>>> 0a763386a9ce148fef3002388d17c4e18a3fd329
