/* body */
body{
    margin: 0px;
}
/* nav */
nav.container{
    background: #e2e2e2;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

div.container{
    background: #e2e2e2;
    display: flex;
    align-items: center;
}

.item{
    padding: 10px;
    margin: 10px;
    color:red;
}


nav a{
    text-decoration: none;

    color:#474747;
}
nav a:hover{
    color:black;
    
}


nav img{
    padding: 10px;
}

/* Menu dropdown */
/* style sur le button */
    .dropbtn{
        margin-right: 10px;
        padding: 10px;
        cursor: pointer;
    }
/* Le container div a besion d'une position */
.dropdown{
    position: relative;
    display: inline-block;
}
/* dropdown-item */
.dropdown-item{
    display: block;
    position: absolute;
    background: #efefef;
    min-width: 160px;
    z-index: 1;
}
/* lien dans le dropdown */
.dropdown-item a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* header */

/* footer 1 */

/* footer 2 */