/* Menu produit */

/* Conteneur : dropdown_produit */
.dropdown_produit{
    position: relative;
    display: inline-block;}

/* Sous-conteneur : drop_item_prod */
.drop_item_prod{
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    z-index: 1;
<<<<<<< HEAD
    background: rgb(199, 199, 199);
    -o-border-radius: 5px;
    box-shadow: 5px 5px 5px black;}
=======
    background: rgba(145, 145, 145, 0.3);}
>>>>>>> 0a763386a9ce148fef3002388d17c4e18a3fd329

/* Lien <a> : drop_item_prod a */
.drop_item_prod a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color:#474747;}

/* Survole sur le lien <a> */
.drop_item_prod a:hover{
    background:rgba(145, 145, 145, 0.3);
    color: white;}
    
/* Faire apparaitre le menu */
.dropdown_produit:hover .drop_item_prod{
    display: block;}


/* Fin menu produit */